 .u-section-1 {
  background-image: url("images/adminportalinterface-11.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 262px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 4.375em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 4.375em;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 135px 496px 0 471px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -24px 471px 60px 619px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 228px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 3.75em;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-icon-2 {
    font-size: 3.75em;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-right: 396px;
    margin-left: 371px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 371px;
    margin-left: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 199px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 3.125em;
  }

  .u-section-1 .u-icon-2 {
    font-size: 3.125em;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 90px;
    margin-right: 286px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -20px;
    margin-right: 261px;
    margin-left: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 184px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.5em;
  }

  .u-section-1 .u-icon-2 {
    font-size: 2.5em;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 69px;
    margin-right: 196px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -18px;
    margin-right: 171px;
    margin-left: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 169px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 1.875em;
  }

  .u-section-1 .u-icon-2 {
    font-size: 1.875em;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 64px;
    margin-right: 88px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -14px;
    margin-right: 79px;
    margin-left: 211px;
  }
}